{% extends 'base.html' %}

{% block content %}
        {% for chirp in chirps %}
        <div class="card">
            <div class="card-header">
                <cite title="Source Title">{{ chirp.created_at }}</cite>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ chirp }}</p>
                    <footer class="blockquote-footer">
                        {{ chirp.user.username }}
                        <span class="float-right">

                            {% if chirp.likes == None %}
                            <p>No Likes Yet</p>
                            {% else %}
                            <p>
                                {{ chirp.likes }} Likes
                            </p>
                            {% endif %}
                            <form action="{% url 'like' chirp.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="like" value="chirp.id" class="btn btn-primary btn-sm">Like</button>
                            </form>
                        </span>
                    </footer>
                </blockquote>
            </div>
        </div>
        {% endfor %}
{% endblock %}